Adafruit-Blinka==3.7.1
adafruit-circuitpython-busdevice==4.1.2
adafruit-circuitpython-pn532==2.0.9
Adafruit-PlatformDetect==2.1.0
Adafruit-PureIO==1.0.4
certifi==2019.11.28
chardet==3.0.4
idna==2.8
pyftdi==0.42.2
pyserial==3.4
pyusb==1.0.2
requests==2.22.0
rpi-ws281x==4.2.3
RPi.GPIO==0.7.0
spidev==3.5
sysv-ipc==1.0.1
urllib3==1.25.8
aiohttp==3.6.2
python-dotenv==0.13.0
aiohttp_cors==0.7.0