Package: raspberry-client
Version: 0.1
Maintainer: Devopsbay <contact@devopsbay.io>
Description: NFC raspberry client
Homepage: https://devopsbay.io
Architecture: all
Depends: python3 (>=3.7), python3-distutils
