[Install]
WantedBy=multi-user.target

[Unit]
Description=Door lock system

[Service]
Type=simple
Group=www-data
WorkingDirectory=/opt/raspberry-client
EnvironmentFile=-/opt/raspberry-client/env
Restart=on-failure
RestartSec=3s
ExecStart=-/opt/raspberry-client/nfc_venv/bin/python3 /opt/raspberry-client/nfcclient/app.py
